.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable {
  display: inline-block;
}
.dropzone {
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  padding: 0.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.TransformComponent-module_container__3NwNd {
  width: 100% !important;
  height: 100% !important;
}
.nav-link:focus {
  outline: none;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container > * {
  margin: 0 8px;
}
